a {
  transition: 0.3s all ease;
}

.courses .coursebox .panel-body {
  border: 0px;
}

div.card-body.pr-1.course-info-container {
  border: 0px;
}

.paging.paging-morelink a {
  padding: 13px 18px;
  border-radius: 8px;
}

.card.dashboard-card {
  border: 0px;
  box-shadow: 0px 0px 1px 2px #d3d3d35c;
  border-radius: 8px;
}

.header {
  border: 0px;
}

.section.main {
  border: 0px;
  box-shadow: 0px 0px 1px 2px #d3d3d35c;
  margin: 30px 0px;
  padding: 25px 20px;
  border-radius: 8px;
  border-left: 5px solid #d3d8dd !important;
}

.section .sectionname {
  font-weight: bold;
}

.block {
  padding: 1rem;
  border-radius: 10px;
}

#page {
  background: #edededd1;
}

#region-main {
  padding: 0px;
  background: transparent !important;
}

#above-header.stickything {
  border: 0px;
}

#main-navbar {
  border: 0px;
  padding: 8px 0px;
}

.breadcrumb {
  background: transparent;
}

.topics li:first-child {
  margin-top: 0px;
}

#page-footer {
  background: #00688d;
}

#page-footer .info {
  border: 0px;
}

#searchform-navbar .btn {
  border: 0px;
}

div[role="main"] h2 + form {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input[type="text"] {
  border: 0px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px #e3e3e3;
}

select {
  border: 0px;

  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px #e3e3e3;
}

form .clearfix.collapsible {
  border: 0px;
}

label.d-inline.word-break {
  padding-top: 10px;
}

.breadcrumb ul i, .breadcrumb li.lastli span {
  color: #1b76c8;
  text-decoration: none;
  font-weight: bold;
}

.simplesearchform .btn {
  border: 0px;
}

#main-navbar .btn {
  border: 0px;
  padding: 2px 11px 4px 11px;
}

iframe#resourceobject {
  border: 0px;
  border-radius: 8px;
}

.nav-link i.fa {
  margin-right: 6px;
}

.section .label {
  margin-top: 30px;
}

.next_activity.prevnext a:hover {
  transform: scale(1.03);
}

.next_activity.prevnext > .text {
  font-weight: bold;
  color: #00678d;
}

.next_activity.prevnext .nav_guide {
  font-weight: normal;
}

.previous_activity.prevnext > .text {
  font-weight: bold;
  color: #00678d;
}

.previous_activity.prevnext .nav_guide {
  font-weight: normal;
}

.filemanager-container.card {
  border: 0px;
}

.filemanager .fp-navbar {
  border: 0px;
}

#id_summary_editoreditable {
  border: 1px solid #d1d1d1;
  border-top: 0px;
}

.editor_atto_toolbar {
  border: 0px;
  padding: 10px;
}

.section-handle.moodle-core-dragdrop-draghandle {
  left: -7px;
  top: -6px;
}

.section-handle.moodle-core-dragdrop-draghandle i {
  font-size: 25px;
}

 .page-item .page-link {
   border: 0px;
 }

 .block-myoverview div[data-region="filter"] {
   margin-bottom: 10px;
 }

 #page-footer p, #page-footer h5 {
   display: inline-block;
   padding: 0px 10px;
 }

.card.dashboard-card {
  margin: 10px;
}

.dashboard-card-deck .dashboard-card {
  transform: 0.5s all ease;
}

.dashboard-card-deck .dashboard-card:hover {
  transform: scale(1.03);
}

.block .header .title {
  margin-bottom: 5px;
}

#userprofiletabs .tab-panel {
  border: 0px;
  box-shadow: 1px 0px 1px 1px #dddddd !important;
  border-radius: 0px 8px 8px 8px;
  padding: 20px;
  background: white;
}

#userprofiletabs .adaptabletab:checked+label {
  background: white;
  color: black;
}

div[role="main"] #intro {
  padding: 25px;
  margin-bottom: 20px;
}

.coursebox.panel.hover .panel-body {
  transition: 0.3s all ease;
}

.coursebox.panel.hover:hover .panel-body {
  background: transparent;
  transform: scale(1.03)
}

.coursebox.panel.hover:hover .panel-body .coursebox-content h3, .coursebox.panel.hover:focus .panel-body .coursebox-content h3 {
  color: black;
}

.coursebox.panel.hover:hover .panel-body .cimbox {
  opacity: 1;
}

.table.discussion-list th,
.table.discussion-list td {
  background: white;
}

.table.discussion-list tbody td {
  padding: 25px 15px;
}

.table.discussion-list thead th {
  border: 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #fefefe;
}

.dropdown-menu {
  padding: 0px;
  border: 0px;
  box-shadow: 0px 0px 1px 1px #d9d9d9b5;
  border-radius: 8px;
  transition: 0.3s all ease;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
}

.dropdown-menu .dropdown-item.menu-action:focus {
  background: unset;
  color: unset;
}

.dropdown-menu .dropdown-item.menu-action:hover,
.dropdown-menu .dropdown-item.menu-action:active {
  background: #0f6fc5;
  color: white;
}

a {
  text-decoration: none;
}

.btn:focus,
a:focus {
  box-shadow: none;
  outline: none;
}

.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus {
  outline: none;
  box-shadow: none;
  border: 0px;
  background: transparent;
}

.activityinstance > a {
  border-left: 5px solid transparent;
  padding-left: 45px;
}

.activityinstance > a:hover {
  border-left: 5px solid #d3d8dd;
  padding-left: 45px;
}

.dropdown-item:focus {
  background: unset;
}

.dropdown-item:hover>a, .dropdown-item:focus>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, #adaptable-page-header-wrapper .dropdown-menu li a:hover {
  background: #1b76c8;
  color: white;
}

.dropdown-item:hover {
  background: #1b76c8;
  color: white;
}

.card-footer .small {
  margin-top: 10px;
}

.dropdown-item[aria-current="true"] {
  border-left: 3px solid black;
}

.dropdown-item[aria-current="true"]:before {
  display: none;
}

#main-navbar {
  border-bottom: 1px solid #d1d1d1;
}

.gotocal {
  margin-top: 7px;
}

#categoryquestions th {
  font-weight: bold;
}

.createnewquestion  {
  margin-top: 20px;
}

#categoryquestions td, #categoryquestions th {
  padding: 12px;
}

.choosecategory {
  margin-bottom: 10px;
}

#id_infoeditable {
  border: 0px;
}

.fcontainer.clearfix > div,
#fgroup_id_updatebuttonar,
#fgroup_id_buttonar {
  border: 0px;
  background: transparent;
}

#fgroup_id_updatebuttonar .fitem {
  margin: 0px 5px;
}

#fgroup_id_updatebuttonar .fitem,
#fgroup_id_buttonar .fitem {
  margin: 0px 5px;
}

#fgroup_id_buttonar {
  padding-bottom: 20px;
}

.fdescription.required {
  margin-top: -20px;
}

.editor_atto_toolbar {
  border: 1px solid #cfcfcf;
  border-bottom: 0px;
  padding-bottom: 20px;
}

.editor_atto_content_wrap > div[contenteditable="true"] {
  border: 1px solid #cfcfcf;
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  padding: 10px;
}

textarea {
  border: 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 2px #d3d3d35c;
  padding: 15px;
}

.ui_wrapper {
  border: 0px;
}

#previewcontrols input {
  margin: 0px 3px;
}

.que .info {
  border: 0px;
}

.formulation.clearfix {
  border: 1px solid #e3d3d35e;
  border-radius: 8px;
}

.generalbox.grades td {
  background: white;
  border: 0px;
  border-bottom: 1px solid #d3d3d35c;
  padding: 20px 12px;
}

.que.history,
.que .formulation {
  border: 0px;
}

.que .content {
  background: white;
  border-radius: 8px;
  padding: 20px;
}

.que .content .outcome {
  background: unset;
  color: black;
}

.quizreviewsummary td,
.quizreviewsummary th {
  border: 0px;
  padding: 8px;
  background: white;
}

.quizreviewsummary {
  padding: 10px;
}

.submissionstatustable > div {
  padding: 10px;
}

#fitem_id_grade #id_grade {
  min-width: 100px;
}

#fitem_id_currentgrade {
  margin-top: 10px;
}

#fitem_id_currentgrade div {
  margin-top: 7px;
}

.path-grade-report-grader .gradeparent table, .path-grade-report-grader .gradeparent .cell {
  border: 0px;
  padding: 10px;
}

span.gradevalue {
  margin-right: 8px;
}

.page-item.active .page-link {
  border-radius: 4px;
}

.que .history {
  border: 0px;
}

.quizreviewsummary tr:last-child td {
  padding-bottom: 25px;
}

.quizreviewsummary tr:first-child td,
.quizreviewsummary tr:first-child th {
  padding-top: 25px;
}

.que .comment {
  border-radius: 8px;
}

.que .comment .commentlink {
  margin: 0px;
  padding: 10px;
}

.que .comment .commentlink a:hover {
  font-weight: bold;
}

.que .info > div {
  margin-bottom: 15px;
}

.feedback_info {
  margin-bottom: 15px;
}

i.fa-search-plus {
  margin-left: 8px;
}

#feedback_edit_form .col-md-9 {
  padding-left: 30px;
}

#feedback_dragarea {
  margin-top: 15px;
}

#feedback_edit_form > div {
  margin-bottom: 30px;
}

.form-buttons {
  margin-bottom: 15px;
}

.box.generalbox {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.editing_move.moodle-core-dragdrop-draghandle {
  left: 10px;
  top: 8px;
}

.section .content {
  display: relative;
}

.section_availability {
  margin-bottom: 35px;
}

.availabilityinfo.ishidden .badge {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #b1b1b1;
  color: white;
}

.ad-activity-wrapper {
  padding-bottom: 8px;
}

.ad-activity-wrapper .contentwithoutlink h5 {
  margin-bottom: 7px;
  margin-top: 8px;
}

.section .activity .actions-right .actions {
  top: 10px;
}

.section-modchooser-link i {
  margin-right: 6px;
}

.ad-activity-wrapper .instancename {
  vertical-align: middle;
}

.filemanager-container.card .fp-content {
  min-height: 190px;
}

.filemanager-container.card .fp-filename-field {
  min-height: 100px;
}

.filemanager-container.card .fp-filename {
  height: 150px;
}


.filemanager-container.card .text-truncate {
  white-space: unset;
}

.filemanager .fp-pathbar {
  margin-top: 5px;
}

#id_submissiontypes .form-check.fitem {
  margin-left: 15px;
}

#id_submissiontypes .form-check.fitem:first-child {
  margin-left: 0px;
}

.notifications .alert {
  margin-bottom: 20px;
  padding: 20px;
}

#quiz_overview_regrade_bar {
  border-radius: 4px;
  margin-bottom: 10px;
}

.generaltable {
  background: white;
  border-radius: 4px;
}

.generaltable tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.04);
}

.generaltable th, .generaltable td {
  border-top: 0px;
  padding: 17px;
}

.generaltable tbody tr:hover {
  background-color: rgba(0,0,0,.06)
}

.gradeform #fitem_id_grade {
  display: inline-block;
  margin-left: 15px;
}

.gradeform #fitem_id_grade .align-items-start {
  float: left;
}

.gradeform #fitem_id_currentgrade {
  display: inline-block;
  margin-left: 30px;
}

form[data-region="grading-actions-form"] button {
  margin-right: 5px;
  margin-left: 5px;
}

form[data-region="grading-actions-form"] button[name="savechanges"] {
  margin-left: 20px;
}

#region-main > .customalert {
  margin-bottom: 10px;
  border-radius: 8px;
}

#region-main > .customalert a {
  text-decoration: underline;
  margin-left: 4px;
}

.filepicker-filelist {
  border: 0px;
}

#fitem_id_backupfile + #fitem_id_submitbutton {
  margin-bottom: 35px;
}

.backup-files-table + .singlebutton {
  margin-bottom: 40px;
}

div[role="alertdialog"]#notice .modal-header {
  justify-content: center;
}

div[role="alertdialog"]#notice .modal-content {
  border: 0px !important;
}

div[role="alertdialog"]#notice .modal-footer {
  justify-content: center;
}
