a {
  transition: 0.3s all ease;
}

.courses .coursebox .panel-body {
  border: 0px;
}

div.card-body.pr-1.course-info-container {
  border: 0px;
}

.paging.paging-morelink a {
  padding: 13px 18px;
  border-radius: 8px;
}

.card.dashboard-card {
  border: 0px;
  box-shadow: 0px 0px 1px 2px #d3d3d35c;
  border-radius: 8px;
}

.header {
  border: 0px;
}

.section.main {
  border: 0px;
  box-shadow: 0px 0px 1px 2px #d3d3d35c;
  margin: 30px 0px;
  padding: 25px 20px;
  border-radius: 8px;
  border-left: 5px solid #d3d8dd !important;
}

.section .sectionname {
  font-weight: bold;
}

.block {
  padding: 1rem;
  border-radius: 10px;
}

#page {
  background: #edededd1;
}

#region-main {
  padding: 0px;
  background: transparent !important;
}

#above-header.stickything {
  border: 0px;
}

#main-navbar {
  border: 0px;
  padding: 8px 0px;
}

.breadcrumb {
  background: transparent;
}

.topics li:first-child {
  margin-top: 0px;
}

#page-footer {
  background: #00688d;
}

#page-footer .info {
  border: 0px;
}

#searchform-navbar .btn {
  border: 0px;
}

div[role="main"] h2 + form {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input[type="text"] {
  border: 0px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px #e3e3e3;
}

select {
  border: 0px;

  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px #e3e3e3;
}

form .clearfix.collapsible {
  border: 0px;
}

label.d-inline.word-break {
  padding-top: 10px;
}

.breadcrumb ul i, .breadcrumb li.lastli span {
  color: #1b76c8;
  text-decoration: none;
  font-weight: bold;
}

.simplesearchform .btn {
  border: 0px;
}

#main-navbar .btn {
  border: 0px;
  padding: 2px 11px 4px 11px;
}

iframe#resourceobject {
  border: 0px;
  border-radius: 8px;
}

.nav-link i.fa {
  margin-right: 6px;
}

.section .label {
  margin-top: 30px;
}

.next_activity.prevnext a:hover {
  transform: scale(1.03);
}

.next_activity.prevnext > .text {
  font-weight: bold;
  color: #00678d;
}

.next_activity.prevnext .nav_guide {
  font-weight: normal;
}

.previous_activity.prevnext > .text {
  font-weight: bold;
  color: #00678d;
}

.previous_activity.prevnext .nav_guide {
  font-weight: normal;
}

.filemanager-container.card {
  border: 0px;
}

.filemanager .fp-navbar {
  border: 0px;
}

#id_summary_editoreditable {
  border: 1px solid #d1d1d1;
  border-top: 0px;
}

.editor_atto_toolbar {
  border: 0px;
  padding: 10px;
}

.section-handle.moodle-core-dragdrop-draghandle {
  left: -7px;
  top: -6px;
}

.section-handle.moodle-core-dragdrop-draghandle i {
  font-size: 25px;
}

 .page-item .page-link {
   border: 0px;
 }

 .block-myoverview div[data-region="filter"] {
   margin-bottom: 10px;
 }

 #page-footer p, #page-footer h5 {
   display: inline-block;
   padding: 0px 10px;
 }

.card.dashboard-card {
  margin: 10px;
}

.dashboard-card-deck .dashboard-card {
  transform: 0.5s all ease;
}

.dashboard-card-deck .dashboard-card:hover {
  transform: scale(1.03);
}

.block .header .title {
  margin-bottom: 5px;
}

#userprofiletabs .tab-panel {
  border: 0px;
  box-shadow: 1px 0px 1px 1px #dddddd !important;
  border-radius: 0px 8px 8px 8px;
  padding: 20px;
  background: white;
}

#userprofiletabs .adaptabletab:checked+label {
  background: white;
  color: black;
}

div[role="main"] #intro {
  padding: 25px;
  margin-bottom: 20px;
}

.coursebox.panel.hover .panel-body {
  transition: 0.3s all ease;
}

.coursebox.panel.hover:hover .panel-body {
  background: transparent;
  transform: scale(1.03)
}

.coursebox.panel.hover:hover .panel-body .coursebox-content h3, .coursebox.panel.hover:focus .panel-body .coursebox-content h3 {
  color: black;
}

.coursebox.panel.hover:hover .panel-body .cimbox {
  opacity: 1;
}

.table.discussion-list th,
.table.discussion-list td {
  background: white;
}

.table.discussion-list tbody td {
  padding: 25px 15px;
}

.table.discussion-list thead th {
  border: 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #fefefe;
}

.dropdown-menu {
  padding: 0px;
  border: 0px;
  box-shadow: 0px 0px 1px 1px #d9d9d9b5;
  border-radius: 8px;
  transition: 0.3s all ease;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
}

.dropdown-menu .dropdown-item.menu-action:focus {
  background: unset;
  color: unset;
}

.dropdown-menu .dropdown-item.menu-action:hover,
.dropdown-menu .dropdown-item.menu-action:active {
  background: #0f6fc5;
  color: white;
}

a {
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus {
  outline: none;
  box-shadow: none;
  border: 0px;
  background: transparent;
}

.activityinstance > a {
  border-left: 5px solid transparent;
  padding-left: 45px;
}

.activityinstance > a:hover {
  border-left: 5px solid #d3d8dd;
  padding-left: 45px;
}
